@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema Demo</h1>
    <a asp-controller="Login" asp-action="Login" class="btn btn-primary btn-lg">Ingresar</a>
</div>
